
header{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 280px;
    background-color: #edefee;
    color: rgb(51, 76, 51);
}


.header-left{
    /*background-color: bisque;*/
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 80%;
    padding: 0;
}

.header-left h1{
    margin: 0;
    padding-top: 20px;
}

.header-left h3{
    margin: 0;
    padding-top: 5px;
}

.header-left p{
    margin: 0;
    padding-top: 20px;
    text-align: justify;
    font-style: italic;
}

.header-button{
    margin-top: 20px;
    padding: 10px;
    background-color: #f4ce14;
    font-weight: bold;
    color: rgb(51, 76, 51);
    border-radius: 20px;
}

.header-right{
    grid-column: 3;
    padding: 0;
    justify-self: flex-end;
}

.header-right img{
    height: 250px;
    width: auto;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.777);
}