
.main{
    display: grid;
    grid-template-rows: 600px 300px;
    border: 1px solid red;
}

.specials{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    background-color: #eadb94;
}

.testimonials{
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 15% 20%;
    border: 1px solid red;
}

.container-2{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    align-items: flex-start;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.container-2 h1{
    padding-top: 20px;
    color: #526652;
}

.container-3{
    display: flex;
    flex-direction: column;
    grid-column: 3;
    align-items: center ;
    width: 80%;
    margin-top: 156px;
}

.container-4{
    display: flex;
    flex-direction: column;
    grid-column: 4;
    align-items: flex-end;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

.container-4 button{
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
}

.container-4 button:hover{
    cursor: pointer;
    box-shadow: 0px 3px 6px rgb(0, 0, 0);
}



.card{
    background-color: #edefee;
    height: 400px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}


.card-title{
    display: flex;
    margin: 0;
    padding: 10px 20px 0 20px;
    font-size: small;
    justify-content: space-between;
}

.item {
    margin: 0;
    align-items: flex-start;
    color:rgb(51, 76, 51);
}

.price {
    margin: 0;
    align-items: flex-end;
    color: rgb(86, 110, 86);
}

.card-main{
    align-items: flex-start;
    text-align: justify;
    margin: 0;
    padding: 0 20px 0 20px;
    font-size: small;
}

.card-footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
}

.card-footer p{
    margin: 0;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card-footer img{
    align-items: flex-start;
    width: 22px;
    height: 22px;
    margin: 0;
    padding-right: 20px;
}