
.main{
    display: grid;
    grid-template-rows: auto auto;
}

.specials{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: #eadb94;
}

.specials-head{
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #526652;
}

.online-menu{
    text-decoration: none;
    background-color: #1d321d;
    border: 1px solid rgb(201, 248, 195);
    width: 15%;
    color: rgb(201, 248, 195);
    font-weight: bold;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
}

.online-menu:hover{
    cursor: pointer;
    box-shadow: 0px 3px 6px rgb(0, 0, 0);
    background-color: #1d321d;
    color: limegreen;
    transition: 0.3s ease;
}

.container{
    display: flex;
    justify-content: space-between;
    grid-column: 2;
}

.card{
    width: 30%;
    background-color: #edefee;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
    margin-bottom: 40px;
}

.card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card-title h3{
    color: darkgreen;
    padding-left: 10px;
    padding-right: 10px;
}

.card-main p{
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
}

.card-content button{
    width: 40%;
    font-size: medium;
    background-color: #f4ce14;
    border: 2px solid rgb(51, 76, 51);
    color: rgb(51, 76, 51);
    border-radius: 20px;
    padding: 8px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card-content button:hover{
    cursor: pointer;
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    font-weight: bold;
    transition: 0.3s ease;
}

.testimonials-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #e7e1c3;
    color: black;
}

.testimonials{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: auto;
    background-color: #e7e1c3;
}

.all-boxes{
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

.box{
    width: 20%;
    height: 95%;
    background-color: whitesmoke;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
    margin-bottom: 10px;
    padding: 0;
}

.top-box img{
    border-radius: 50px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 20px;
}

.top-box{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    border-bottom: 1px solid lightgrey;
}

.box h3{
    text-align: center;
    margin: 0;
    padding: 0;
}

.box p{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: small;
    letter-spacing: 0.3px;
    line-height: 1.5;
}

/* ---------- RESPONSIVE ---------- */

@media (min-width:768px) and (max-width: 1230px) {

    .specials{
        display: grid;
        grid-template-columns: 5% 90% 5%;
        background-color: #eadb94;
    }

    .card{
        width: 32%;
        background-color: #edefee;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
        margin-bottom: 40px;
    }

    .online-menu{
        text-decoration: none;
        background-color: #1d321d;
        border: 1px solid rgb(201, 248, 195);
        width: 30%;
        color: rgb(201, 248, 195);
        font-weight: bold;
        padding: 8px;
        border-radius: 20px;
        box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
    }

    .card-main p{
        text-align: justify;
        letter-spacing: 0.5px;
        line-height: 1.5;
        padding-left: 15px;
        padding-right: 15px;
    }

    .card-content button{
        width: 90%;
        font-size: small;
        background-color: #f4ce14;
        border: 2px solid rgb(51, 76, 51);
        color: rgb(51, 76, 51);
        border-radius: 20px;
        padding: 8px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .testimonials{
        display: grid;
        grid-template-columns: 5% 90% 5%;
        height: auto;
        background-color: #e7e1c3;
    }

    .all-boxes{
        grid-column: 2;
        display: flex;
        justify-content: space-between;
    }

    .box{
        width: 23%;
        height: 95%;
        background-color: whitesmoke;
        box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
        margin-bottom: 10px;
        padding: 0;
    }

    .top-box img{
        display: none;
    }

    .card-main p{
        text-align: justify;
        letter-spacing: 0.5px;
        line-height: 1.5;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-title h3{
        font-size: medium;
        color: darkgreen;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width:370px) and (max-width: 767px){
    .specials{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        background-color: #eadb94;
    }

    .container{
        display: flex;
        flex-direction: column;
        grid-column: 2;
        width: 100%;
    }

    .card{
        width: 100%;
        background-color: #edefee;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
        margin-bottom: 40px;
    }

    .online-menu{
        text-decoration: none;
        background-color: #1d321d;
        border: 1px solid rgb(201, 248, 195);
        width: 35%;
        height: auto;
        font-weight: 400;
        color: rgb(201, 248, 195);
        padding: 8px;
        border-radius: 20px;
        box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
    }

    .card-main p{
        text-align: justify;
        letter-spacing: 0.5px;
        line-height: 1.5;
        padding-left: 15px;
        padding-right: 15px;
    }

    .card-content button{
        width: 80%;
        font-size: small;
        align-self: center;
        background-color: #f4ce14;
        border: 2px solid rgb(51, 76, 51);
        color: rgb(51, 76, 51);
        border-radius: 20px;
        padding: 8px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .testimonials{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: auto auto auto;
        background-color: #e7e1c3;
    }

    .all-boxes{
        grid-row: 2;
        display: block;
    }

    .box{
        width: 100%;
        height: auto;
        background-color: whitesmoke;
        box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
        margin-bottom: 10px;
        padding: 0;
        justify-content: center;
    }

    .top-box img{
        display: none;
    }

    .card-main p{
        text-align: justify;
        letter-spacing: 0.5px;
        line-height: 1.5;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-title h3{
        font-size: medium;
        color: darkgreen;
        padding-left: 10px;
        padding-right: 10px;
    }
}

