
.menu{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: #f8f0cd;
}

.menu-content{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu-content h1{
    color: #526652;
}

.menu-content img{
    height: 50px;
    width: 35px;
    padding-left: 10px;
}

.category-bev{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    color: #526652;
}

.category-app{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    color: #526652;
}

.category-lun{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    color: #526652;
}

.category-des{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    color: #526652;
}

.menu-itens{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.menu-itens li{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (min-width:768px) and (max-width: 1230px){
    .menu{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        background-color: #f8f0cd;
    }
}

@media (min-width:375px) and (max-width: 767px){
    .menu{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        background-color: #f8f0cd;
    }

    .menu-content{
        grid-column: 2;
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .menu-content h1{
        font-size: x-large;
    }

    .category-bev{
        padding: 0;
        margin: 0;
    }
}