
.nav-menu {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 30%;
    background-color: #334c33;
}

.nav-list ul{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    width: 100%;
    height: auto;
    color: whitesmoke;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list ul li{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-item {
    color: whitesmoke;
    text-decoration: none;
}

.nav-item:hover{
    font-weight: 400;
    color: limegreen;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav img{
    justify-self: flex-end;
    height: 50px;
    padding-top: 10px;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

/* ---------- RESPONSIVE ---------- */

@media (min-width:768px) and (max-width: 1014px) {
    .nav-menu {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 30%;
        background-color: #334c33;
    }

    .nav-list{
        display: none;
    }

    .mobile-menu-icon{
        display: flex;
        justify-content: flex-end;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-bottom: 5px;
    }


    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #334c33;
        color: whitesmoke;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .mobile-menu ul li{
        font-size: large;
        padding-bottom: 10px;
    }

    .open{
        display: block;
    }
}

@media (min-width:370px) and (max-width: 767px){
    .nav-menu {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 30%;
        background-color: #334c33;
    }

    .nav-list{
        display: none;
    }

    .mobile-menu-icon{
        display: flex;
        justify-content: flex-end;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-bottom: 5px;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #334c33;
        color: whitesmoke;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .mobile-menu ul li{
        font-size: large;
        padding-bottom: 10px;
    }

    nav img{
        justify-self: flex-end;
        height: 40px;
        padding-top: 10px;
        padding-left: 30px;
    }

    .open{
        display: block;
    }
}



