
.reservation{
    display: flex;
    background-color: rgb(196, 233, 196);
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}